#filmList{
    background: #ffffff;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font: 28px Helvetica, Arial;
}

#filmList li {
    padding: 5px 10px;
    margin-bottom: 10px;
}

#filmList li:nth-child(odd) {
    background: #eee;
}

a:link, a:visited {
    color: blue;
}